#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));  color: var(--main-fonts-color);
  text-align: center;
  padding: 2em 1em;
  margin-top: 70px;
}

.contact-content {
  max-width: 800px;
  margin: auto;
  animation: fadeIn 1.5s ease-in-out;
}

.contact-content h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  margin-top: 70px;

}

.contact-content h1:hover{
  text-shadow: 0 2px 4px var(--main-decor-color)
}

.contact-content p {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

label {
  font-size: 1em;
  margin-bottom: 0.5em;
  text-align: left;
}

input, textarea {
  padding: 0.75em;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #444;
  color: var(--main-fonts-color);
  width: 100%;
  max-width: 100%;
  margin-bottom: 1em;
  box-shadow: 0 4px 8px var(--main-decor-color);

}

input:hover{
  box-shadow: 0 8px 16px var(--main-decor-color);
  transform: translateY(-10px);

}

textarea:hover{
  box-shadow: 0 8px 16px var(--main-decor-color);
  transform: translateY(-10px);


}

textarea {
  height: 150px;
  resize: vertical;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 8px 16px var(--main-decor-color);
  background-color: #e4e4e4;
  color: #000000;
  transform: translateY(-10px);


}


button {
  padding: 0.75em 1.5em;
  background-color: var(--main-decor-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.social-media {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
}

.social-media a {
  font-size: 2em;
  color: var(--main-fonts-color);
  transition: color 0.3s;
}

.social-media a:hover {
  color: var(--main-decor-color);
  text-shadow: 0 0 5px var
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
