#home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: var(--main-fonts-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  animation: fadeIn 1.5s ease-in-out;
  position: relative;
  z-index: 2;
  text-align: left;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.image-container-home {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.image-container-home img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  filter: drop-shadow(0 4px 8px var(--main-decor-color));
  filter: drop-shadow(0 4px 8px #1F74BF) drop-shadow(0 -4px 8px var(--main-decor-color))
}

.image-container-home img:hover {
  filter: drop-shadow(0 8px 16px #1F74BF) drop-shadow(0 -4px 8px var(--main-decor-color));
}

h1.span.loader {
  font-size: 3vw;
  letter-spacing: 0.7em;
  font-family: "ROBOTO", sans-serif;
  font-weight: 500;
  color: var(--main-fonts-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 4;
  margin: 0;

}



h1.span.loader span:hover {
  letter-spacing: 0.7em;
  font-family: "ROBOTO", sans-serif;
  font-weight: 500;
  color: var(--main-decor-color);
  text-shadow: 30px 0 80px var(--main-decor-color);

}


h1.span.loader span {
  display: inline-block;
  animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
  to {
      text-shadow: 20px 0 70px var(--main-decor-color);
      color: var(--main-decor-color);
  }
}

@media only screen and (max-width: 850px) {
  .image-container-home img {
    display: none;
  }
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .text-container {
      align-items: center;
      text-align: center;
  }

  .image-container-home {
      width: 80%;
  }

  h1.span.loader {
      font-size: 6vw;
      letter-spacing: 0.3em;
  }

  .button-group {
    display: flex;
    justify-content: center;
  }
}



@media (min-width: 769px) and (max-width: 1200px) {
  h1.span.loader {
      font-size: 4vw;
  }

  .image-container-home img {
      max-width: 400px;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.background {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}


.loader span {
  color: #faebd7;
  text-shadow: 0 0 0 #faebd7;
  -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
  to {
      text-shadow: 20px 0 70px var(--highlight-color);
      color: var(--highlight-color);
  }
}
